@{
    ViewBag.Title = "Xác thực tài khoản";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/my_js/send_email_verification.js"></script>
}
<section class="mt_mb_send_verify__account">
    <div class="container d-flex justify-content-center margin_mobile_fixed">
        <div class="row">
            <div class="col-12 vetify__account">
                <div class="vetify__account_header text-center">
                    <h1>ĐĂNG KÝ THÀNH CÔNG!</h1>
                </div>
                
            </div>
        </div>
    </div>
</section>

